$color-gray: #aaa;
$tablet: 1024px;
$mobile: 767px;
$color-white: #fd9116;
$color-black: #252525;
$box-shawod: 0 5px 7px rgba(0, 0, 0, 0.2);

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

// 導覽列
#menu {
    background-image: url(./img/menu.png);
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
        margin: 0 10px 0 auto;
    }

    @media screen and (max-width: $mobile) {
        margin: 0 20px 0 auto;
        background-size: cover;
        width: 40px;
        height: 40px;
    }
}

nav {
    display: grid;
    grid-template-columns: 15% auto 15%;
    text-align: center;
    background: $color-white;
    padding: 35px 0;
    box-shadow: $box-shawod;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 25px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 100% 0;
    }

    @media screen and (max-width: $mobile) {
        padding: 20px 0;
    }

}
#Change {
    background-color: rgb(195, 246, 195);
    background-size: cover;
    width: 650px;
    height: 480px;
    margin: 100px auto 100px auto;
    padding: 30px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
}

#service {
    text-align: center;
    .ser {
        img {
            margin: 0 auto;
        }
    }
}

#other {
    text-align: center;
    .project {
        img {
            margin: 0 auto;
        }
    }
}

#time {
    text-align: center;
    .ti {
        img {
            margin: 0 auto;
        }
    }
}

#info {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    background-color: rgb(252, 178, 178);

    .flid {
        width: 100px;
        height: 100px;
        padding: 20px 20px;
    }
    .traffic {
        width: 300px;
        height: 200px;
        margin: 20px;
    }

    .copy {
        text-align: center;
        grid-column-end: 3;
    }
}
