*{
    margin: 0;
    padding: 0;
    font-family:微軟正黑體;
}

#Change{
    background-color: rgb(195, 246, 195);
    background-size:cover;
    width:650px;
  height:480px;
  margin:100px auto 100px auto;
  padding:30px;
  box-shadow:0 5px 7px rgba(0,0,0,0.5);
}
#service{
    text-align: center;
    .ser {
        img {
            margin: 0 auto;
        }
    }
}
#time{
    margin: 60px auto 10px;
    padding: 30px 50px;
}

#info {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    background-color: rgb(252, 178, 178);

    .flid {
        width: 100px;
        height: 100px;
        padding: 20px 20px;

    }
    .traffic {
        width: 300px;
        height: 200px;
        margin: 20px;
    }

    .copy {
        text-align: center;
        grid-column-end: 3;
    }
}
